In [2]:
import numpy as np
import pandas as pd
import requests
import itertools

# Wybór najlepszego filmu

## API filmowe

Wykorzystamy IMDb API do pobrania informacji o filmach

In [3]:
api_key = '63a56440'
url = f'http://www.omdbapi.com/?apikey={api_key}'
params = {"t":"", "plot": "short", "r":"json"}

In [4]:
def fetch_movies(movies):
    movies_data = {}
    for movie in movies:
        params["t"] = movie
        response = requests.get(url, params=params).json()
        movies_data[movie] = response
    return movies_data

## Zapytanie użytkownika o filmy

Poprosimy użytkownika aby podał interesujące go filmy a następnie aby podał kryteria według których chce oceniać filmy

In [5]:
value = None
movies = []

print("Please enter a movie title to compare. When you finish press enter.\n")

while value != '':
    value = input()
    if value != '':
        movies.append(value)

movies_data = fetch_movies(movies)

Please enter a movie title to compare. When you finish press enter.

avatar
hobbit
interstellar

In [6]:
criteria = list(movies_data[movies[0]].keys())

for index, criterium in enumerate(criteria[1:]):
    print(f'{index + 1}. {criterium}')

value = None
chosen_criteria = []

print("\nPlease enter a criteria number to compare. When you finish press enter.\n")

while value != '':
    value = input()
    if value != '':
        chosen_criteria.append(criteria[int(value)])

1. Year
2. Rated
3. Released
4. Runtime
5. Genre
6. Director
7. Writer
8. Actors
9. Plot
10. Language
11. Country
12. Awards
13. Poster
14. Ratings
15. Metascore
16. imdbRating
17. imdbVotes
18. imdbID
19. Type
20. DVD
21. BoxOffice
22. Production
23. Website
24. Response

Please enter a criteria number to compare. When you finish press enter.

8
12
20

## Tworzenie par porównań

Następnym krokiem będzie utworzenie par do porównania dla użytkownika

In [7]:
movies_pairs = list(itertools.combinations(movies, 2))
criteria_pairs = list(itertools.combinations(chosen_criteria, 2))

print("Movies pairs: ", movies_pairs)
print("\nCriteria pairs: ", criteria_pairs)

Movies pairs:  [('avatar', 'hobbit'), ('avatar', 'interstellar'), ('hobbit', 'interstellar')]

Criteria pairs:  [('Actors', 'Awards'), ('Actors', 'DVD'), ('Awards', 'DVD')]

## Zebranie porównań od użytkownika

Poprosimy użytkownika aby ocenił każdą parę filmów wg. wybranych przez niego kryteriów. We wsparciu wyboru wyświelimy użykownikowi informacje dotyczące danego filmu.

In [9]:
movies_matrices = [pd.DataFrame(columns=movies, index=movies) for _ in range(len(chosen_criteria))]
criteria_matrices = pd.DataFrame(columns=chosen_criteria, index=chosen_criteria)
print(chosen_criteria)

for i, criterium in enumerate(chosen_criteria):
    matrix = movies_matrices[i]
    np.fill_diagonal(matrix.values, 1)
    for pair in movies_pairs:
        val =  float(input(f'\nCriterium: {criterium}\n    {pair[0]}: {movies_data[pair[0]][criterium]}\n    {pair[1]}: {movies_data[pair[1]][criterium]}\n Compare first to second:\n'))
        matrix[pair[0]][pair[1]] = val
        matrix[pair[1]][pair[0]] = 1/val

['Actors', 'Awards', 'DVD']

Criterium: Actors
    avatar: Sam Worthington, Zoe Saldana, Sigourney Weaver
    hobbit: Martin Freeman, Ian McKellen, Richard Armitage
 Compare first to second:
4

Criterium: Actors
    avatar: Sam Worthington, Zoe Saldana, Sigourney Weaver
    interstellar: Matthew McConaughey, Anne Hathaway, Jessica Chastain
 Compare first to second:
2

Criterium: Actors
    hobbit: Martin Freeman, Ian McKellen, Richard Armitage
    interstellar: Matthew McConaughey, Anne Hathaway, Jessica Chastain
 Compare first to second:
3

Criterium: Awards
    avatar: Won 3 Oscars. 89 wins & 131 nominations total
    hobbit: Nominated for 3 Oscars. 11 wins & 75 nominations total
 Compare first to second:
10

Criterium: Awards
    avatar: Won 3 Oscars. 89 wins & 131 nominations total
    interstellar: Won 1 Oscar. 44 wins & 148 nominations total
 Compare first to second:
3

Criterium: Awards
    hobbit: Nominated for 3 Oscars. 11 wins & 75 nominations total
    interstellar: Won 1 Oscar. 44 wins & 148 nominations total
 Compare first to second:
0.1

Criterium: DVD
    avatar: 22 Apr 2010
    hobbit: 19 Mar 2013
 Compare first to second:
1

Criterium: DVD
    avatar: 22 Apr 2010
    interstellar: 31 Mar 2015
 Compare first to second:
1

Criterium: DVD
    hobbit: 19 Mar 2013
    interstellar: 31 Mar 2015
 Compare first to second:
1

## Porównywanie parami kryteriów

In [10]:
np.fill_diagonal(criteria_matrices.values, 1)
for pair in criteria_pairs:
    val =  float(input(f'Rate importance: {pair[0]} to {pair[1]}:\n'))
    criteria_matrices[pair[0]][pair[1]] = val
    criteria_matrices[pair[1]][pair[0]] = 1/val

Rate importance: Actors to Awards:
0.5
Rate importance: Actors to DVD:
10
Rate importance: Awards to DVD:
20

# EVM ranking method

W tej części będziemy wizualizować kroki i wyniki procesu decyzyjnego <br>
Zaczniemy od zdefiniowania metody EVM i utworzenia macierzy z danymi

In [11]:
def count_evm(preferences: np.ndarray) -> np.ndarray:
    preferences = preferences.T
    n = preferences.shape[-1]
    geometric_average = np.prod(preferences, axis=-1)**(1/n)
    return geometric_average / np.sum(geometric_average)

In [12]:
priorities = pd.DataFrame(columns=movies, index=chosen_criteria)
criteria_importance = pd.DataFrame(columns=chosen_criteria)

In [13]:
criteria_matrices

       Actors Awards   DVD
Actors      1    2.0   0.1
Awards    0.5      1  0.05
DVD      10.0   20.0     1

Wykorzystamy metodę EVM do policzenia wag dla każdego filmu dla wybranych przez użytkownika kategorii

In [14]:
criteria_priorities = pd.DataFrame(columns=chosen_criteria)
criteria_priorities.loc[0] = count_evm(criteria_matrices.to_numpy())
criteria_priorities = criteria_priorities.rename(index={0: "priority"})

comparison_priorities = pd.DataFrame(columns=chosen_criteria, index=movies)
for i, criterium in enumerate(chosen_criteria):
    matrix = movies_matrices[i]
    comparison_priorities[criterium] = count_evm(matrix.to_numpy())

In [15]:
comparison_priorities

                Actors    Awards       DVD
avatar        0.578222  0.645126  0.333333
hobbit        0.262675  0.044731  0.333333
interstellar  0.159104  0.310144  0.333333

In [16]:
criteria_priorities

            Actors    Awards       DVD
priority  0.322581  0.645161  0.032258

Dalej przedstawimy znormalizowane wyniki, możemy teraz łatwo porównywać wartości z różnych wierszy tabeli.

In [17]:
for criterium in chosen_criteria:  
    comparison_priorities[criterium] = comparison_priorities[criterium].values * criteria_priorities[criterium].values
comparison_priorities

                Actors    Awards       DVD
avatar        0.186523   0.41621  0.010753
hobbit        0.084734  0.028858  0.010753
interstellar  0.051324  0.200093  0.010753

### Wyniki
Ostatecznie pokażemy ranking filmów powstały na podstawie decyzji użytkownika

In [18]:
comparison_priorities["Goal"] = comparison_priorities.sum(axis=1)
comparison_priorities

                Actors    Awards       DVD      Goal
avatar        0.186523   0.41621  0.010753  0.613486
hobbit        0.084734  0.028858  0.010753  0.124345
interstellar  0.051324  0.200093  0.010753  0.262169

### Walidacja wyników

W celu walidacji możemy obliczyć Consistency Ratio (CR) dla każdej macierzy porównań, wartość mniejszą od 0.1 możemy uznać za satysfakcjnonującą

In [19]:
RI = {1: 10**-8, 2: 10**-8, 3: 0.58, 4: 0.9, 5: 1.12, 6: 1.21, 7: 1.32, 8: 1.41, 9: 1.46, 10: 1.49}

def calc_consistency_ratio(preferences: np.ndarray, evm_ranking: np.ndarray) -> float:
    preferences = preferences.T
    n = preferences.shape[-1]
    cv = np.matmul(preferences, evm_ranking.T)
    cv_lambda = np.sum(cv)
    ci = (cv_lambda - n) / (n-1)
    return ci / RI[n]

In [20]:
print(calc_consistency_ratio(criteria_matrices.to_numpy(), criteria_priorities.to_numpy()))

3.8283552573281263e-16